li {color : blue}

footer{
background-color: aqua;

}
header{
    background-color: aqua;
    
        height: 50px;
     
        background:aqua;;
    

}
body {
    background-color: rgb(184, 94, 87)
}